
<%= render 'shared/errors', obj: @project %>

<%= form_for(@project, :html => { role: "form" }) do |f| %>
  <div class="field mb-6">
    <%= f.label :title, class: "label text-sm block" %><br/>
    <%= f.text_field :title, class: "input bg-transparent border border-gray-light rounded p-2 text-xs w-full", placeholder: "Title", autofocus: true %>
  </div>
  <div class="field mb-6">
    <%= f.label :description, class: "label text-sm block" %><br/>
    <%= f.text_area :description, class: "input bg-transparent border border-gray-light rounded p-2 text-xs w-full", placeholder: "Description", autofocus: true %>
  </div>
  <div class="field mb-6">
    <%= f.label :notes, class: "label text-sm block" %><br/>
    <%= f.text_area :notes, class: "input bg-transparent border border-gray-light rounded p-2 text-xs w-full", placeholder: "Notes", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.submit(@project.new_record? ? "Create Project" : "Update Project", class: 'button') %>
  </div>
<% end %>
