
<header class="flex items-center mb-3 pb-4">
  <div class="flex justify-between items-end w-full">
      <p class="text-muted text-base font-light text-gray">
        <%= link_to "My Projects", projects_path %>
      </p>
      <div class="flex items-center">
        <% @project.members.each do |user| %>
          <img src=<%= gravatar_email user.get_md5_email %>" alt="<%= user.username %>" class="rounded-full w-8 mr-2" />
        <% end %>
        <img src=<%= gravatar_email @project.user.get_md5_email %>" alt="<%= @project.user.username %>" class="rounded-full w-8 mr-2" />
        <%= link_to "Edit Project", edit_project_path(@project), class: 'button ml-4' %>
      </div>
  </div>
</header>

<main>
  <div class="lg:flex -mx-3">
    <div class="lg:w-3/4 px-3">
      <div class="mb-8">
        <h2 class="text-gray text-large font-normal mb-3">Tasks</h2>

        <% @project.tasks.each do |task| %>
          <%= render 'projects/tasks/task', project: @project, task: task %>
        <% end %>

        <div class="card mb-3">
          <%= form_for([@project, @task], :html => { role: "form" }) do |f| %>
            <%= f.text_field :body, class: "w-full", placeholder: "Add new task", autofocus: true %>
          <% end %>
        </div>
      </div>

      <div class="mb-8">
        <h2 class="text-gray text-large font-normal mb-3">General Notes</h2>

        <%= form_for([@project], :html => { role: "form" }) do |f| %>
          <%= f.text_area :notes, class: "card w-full mb-4", placeholder: "Add new notes", autofocus: true %>
          <%= f.submit("Update Project", class: 'button') %>
        <% end %>

      </div>
    </div>
    <div class="lg:w-1/4 px-3 lg:py-8">
      <%= render 'projects/project', project: @project %>

      <div class="card mt-3">
        <ul class="text-xs list-reset">
          <%= render @project.activities %>
        </ul>
      </div>

      <div class="card flex flex-col mt-3">
        <h3 class="font-normal text-xl py-4 -ml-5 mb-3 border-l-4 border-blue-light pl-4">
          Invite a User
        </h3>
        <%= form_with(url: "/projects/#{@project.id}/invitation", method: "post") do %>
          <div class="mb-3">
            <%= text_field_tag :email, nil, class: "border border-gray rounded w-ful py-2 px-3", placeholder: "Email Address", autofocus: true %>
          </div>
          <%= submit_tag("Invite", class: 'button') %>
        <% end %>
      </div>
    </div>
  </div>
</main>
