<li class="mb-1">
  <% if activity.subject_type == 'Task' %>
    <%= "#{activity.user.username} #{activity.description.capitalize} #{activity.subject_type}" %> <b>"<%= activity.subject.body %>"</b> <span class="text-default"> <%= time_ago_in_words activity.created_at %></span>
  <% elsif activity.subject_type == 'Project' %>
    <%= "#{activity.user.username} #{activity.description.capitalize} #{activity.subject_type}"%> <b>"<%= activity.subject.title %>"</b> <span class="text-default"> <%= time_ago_in_words activity.created_at %></span>
  <% end %>
</li>
